*{
 margin: 0px;
 padding: 0px;
}
@font-face {
    font-family: expo;
    src: url(../assets/fonts/ExpoArabic-Book.ttf);
}
body{
    height: 100vh;
    background-color: rgba(251, 187, 195, 1);
    color: white;
    font-family: expo;
    overflow-x: hidden;
}
.nav{
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    /* height: 100%; */
    height: 100vh;
    border-left: 1px solid white;
    right: 0;
    position: fixed;
}
.nav img{
    width: 50px;
    height: 50px;
}
/* .content{
    position: absolute;
    right: 195px;
} */
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
.col-img img{
    width: 358px;

}
.col-img .bg{
    background: linear-gradient(90deg, rgba(242, 112, 156, 0.7) 0%, rgba(255, 148, 114, 0.7) 100%);
    filter: blur(41.5px);
transform: matrix(0, 1, 1, 0, 0, 0);
height: 239px;
    width: 253px;
    left: 183px;
    top: 40px;
}

.rec{


background: #CE3838;
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
clip-path: polygon(0 0, 55% 35%, 55% 76%, 0% 98%);

    width: 273px;
    height: 86vh;
    position: absolute;
    left: 0;
    top: -108px;
    z-index: -1;
}
button.btn-white{
 background: #FFFFFF !important;
border-radius: 31px;
}
button.btn-white:hover{
  color: rgba(54, 51, 51, 0.957);
   }
a.nav-link{
    font-style: normal;
    /* font-weight: 600; */
    font-size: 25px;
    line-height: 48px;
}
/* .img{
    display: flex;
    justify-content: center;
    width: 100%;
} */
.col-img{
    top: -55px;
}
@media (min-width: 992px) {
    .content{
        position: absolute;
        right: 195px;
    }
    .img{
        left: 68px;
        z-index: 2;
        /* display: block; */
        /* left: 183px; */
        top: 20px; 
    }
    
}
@media (max-width: 692px) {
    .img{
      
        display: flex;

        justify-content: center;
        width: 100%;
        margin-top: 2rem;
       
    }
    
}
